<% content_for :title do %>Gestion de Alumno<%end%>
<header>
      <%= render 'layouts/navigation_alumno' %>
</header>
<%= render 'layouts/messages' %>
<h4>Estudiante <%= session[:persona].username%></h4>
<h1>Gestion de materias</h1>

<p>Aqui podra gestionar sus materias.</p>