<%# navigation styled for Zurb Foundation 4 %>
<nav class="top-bar">
  <ul class="title-area">
    <li class="name"><%= link_to 'Pitagoras', page_path('paginas/gestion_alumno') %></li>
  </ul>
  <div class="top-bar-section">
     <ul class="left">
      <%= render 'layouts/navigation_links_alumno' %>
    </ul>
  </div>
</nav>
