<%# add navigation links to this file %>

<li class="has-dropdown not-click"><a href="#"><%=session[:persona].materia%></a>

  <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
    <li><label>Opciones</label></li>
    <li><%= link_to "Enviar Correo", new_correo_path %></li>
    <li><%= link_to "Subir Notas", new_carga_path %></li>
    <li><%= link_to "Ver Notas", new_leer_path %></li>
  </ul>
</li>

